<form id="change-password">
  <fieldset>
    <legend>Change password</legend>
    <input type="password" name="passwords[old]" placeholder="Enter your old password">
    <input type="password" name="passwords[new]" placeholder="Enter your new password">
    <input type="submit" name="submit" value="Change Password">
  </fieldset>
</form>
