<form id="find-review">
  <fieldset>
    <legend>Find a Nacho Review</legend>
    <input type="menu_item" name="menu_item[id]" placeholder="Enter the Menu Item ID">
    <input type="submit" name="submit" value="Find">
  </fieldset>
</form>
