<form id="create-menu-item">
  <fieldset>
    <legend>Create a Menu Item</legend>
    <input type="dish_id" name="menu_item[dish_id]" placeholder="Enter the Dish ID">
    <input type="restaurant_id" name="menu_item[restaurant_id]" placeholder="Enter Restaurant ID">
    <input type="submit" name="submit" value="Submit Item">
  </fieldset>
</form>
