<form id="create-new-review">
  <fieldset>
    <legend>Review Some Nachos!</legend>
    <input type="rating" name="review[rating]" placeholder="Enter your rating">
    <input type="note" name="review[note]" placeholder="Enter your note">
    <input type="menu_item" name="review[menu_item_id]" placeholder="Enter the Menu Item ID">
    <input type="submit" name="submit" value="Submit Review">
  </fieldset>
</form>
