<form name={{data_id}} class="edit-review">
  <fieldset>
    <legend>Edit This Review</legend>
    <p>{{param}}</p>
    <input class="vote" type="button" name="1" value="&#x2795;">
    <input class="vote" type="button" name='101' value="&#x2b55;">
    <input class="vote" type="button" name="-1" value="&#x2796;">
    <input id="review-rating" type="hidden" name="review[rating]" value="">
    <input type="review_note" name="review[note]" placeholder="Enter your new note">
    <input type="submit" name="submit" value="Update">
  </fieldset>
</form>
