
<!-- <button id="get-users" style="background-color:yellow" class="btn btn-default">Get Users</button> -->
<button id="get-menu-items" style="background-color:yellow" class="btn btn-default">Get Menu Items</button>
<button id="get-restaurants" style="background-color:yellow" class="btn btn-default">Get Restaurants</button>
<button id="get-dishes" style="background-color:yellow" class="btn btn-default">Get Dishes</button>
<button id="display-create-menu-item" style="background-color:yellow" class="btn btn-default">Create Menu Item</button>
