
<button id="getReviewsButton" class="btn btn-default">Get Reviews!</button>
<button id="getMyReviewsButton" class="btn btn-default">Get My Reviews!</button>
<button id="clearReviewsButton" class="btn btn-default">Clear Reviews!</button>
