
<button id="display-create-new-review" class="btn btn-default">Review Some Nachos!</button>
<button id="getReviewsButton" class="btn btn-default">Get Reviews!</button>
<button id="getMyReviewsButton" class="btn btn-default">Get My Reviews!</button>
<button id="display-find-review" class="btn btn-default">Find a Review</button>
<button id="clearReviewsButton" class="btn btn-default">Clear Reviews!</button>
<button id="display-change-password" class="btn btn-default">Change Password</button>
<button id="sign-out" class="btn btn-default">Sign Out</button>
